%% -*- erlang -*-
{plugins, [rebar3_appup_plugin]}.

{provider_hooks, [{post, [{compile, {appup, compile}},
                          {clean, {appup, clean}}]}
                 ]}.

{otpdoc_opts, [{edoc_modules, [egd]}]}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {extras, [
        {"CHANGELOG.md", #{title => "Changelog"}},
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/fhunlth/egd_fhunleth"},
    {assets, #{"assets" => "assets"}}
]}.

%% vim: ft=erlang
